@charset 'utf-8';

/* pretendard */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
/* ivypresto headline */
@import url('https://use.typekit.net/ajl0sdf.css');

:root {
  font-size: 62.5%; /* 10px */
  --black-color: #000;
  --white-color: #fff;
  --text-color: #666;
  --gray-color: #eaeaea;
  --gray2-color: #d9d9d9;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--black-color);
}

/* 블럭설정 */
::selection {
  background: var(--black-color);
  color: var(--white-color);
}

hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.inner {
  width: 172rem;
  height: 100%;
  margin: 0 auto;
}

body {
  font: 2.6rem 'Pretendard', 'IvyPresto Headline', sans-serif;
  color: #000;
  line-height: 1.2;
}
