@charset 'utf-8';

/* s: header */
#header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 13.1rem;
  background: var(--white-color);
  backdrop-filter: blur(30px);
}

#header nav {
  display: flex;
  height: 13.1rem;
  justify-content: space-between;
  align-items: center;
}

#header .logo {
  font-weight: 700;
  font-size: 2.6rem;
}

#header .menu {
  margin: 0 auto 0 28rem;
  display: flex;
  font-weight: 500;
  font-size: 2.2rem;
  gap: 6rem;
}

#header .gnb {
  width: 5rem;
  height: 1rem;
}
#header .btn-menu::before {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #000;
}
#header .btn-menu::after {
  margin-top: 10px;
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #000;
}

/* //e: header */

/* s: 공통 부분 */
.line {
  position: absolute;
  top: calc(100vh + 100px);
  left: 38.5417%;
  z-index: -1;
  width: 3034px;
  height: 3034px;
  background: url(../img/line.svg) no-repeat 0 0 / cover;
  pointer-events: none;
}
.section .inner {
  padding-top: 13.1rem;
  font: 2.4rem 'ivypresto-headline', sans-serif;
  position: relative;
}
.section .inner h2 {
  font-weight: 700;
  font-size: 40rem;
  line-height: 120%;
  letter-spacing: -12px;
  position: absolute;
  bottom: 100px;
  left: 0;
}
.portfolio {
  font-weight: 400;
  font-size: 2.4rem;
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translateX(-25%) rotate(-90deg);
}
/* //e: 공통 부분 */

/* s: Home */
.section .inner .design-info h2 {
  line-height: 80%;
}
.section1 .inner .design-info p {
  display: inline-block;
  font-size: 2.4rem;
  writing-mode: vertical-lr;
  rotate: 180deg;
  font-weight: 400;
  margin-bottom: 4.8rem;
}
.section1 .inner .design-info strong {
  font-weight: 300;
  font-size: 3.8rem;
  position: absolute;
  bottom: 40rem;
  right: 14.5rem;
}

/* s: section1_portfolio ani */
.section1 .inner .go-portfolio {
  position: absolute;
  top: 34.9rem;
  right: 4rem;
  width: 2.9rem;
  height: 32.6rem;
}

.ScrollHint-Text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ScrollHint-Text p {
  font-weight: 400;
  font-size: 2.4rem;
  writing-mode: vertical-rl;
  text-transform: capitalize;
}

/* arrow 크기 조절 */
.ScrollHint-Arrow {
  /* background: #f00; */
  display: block;
  width: 100%;
  height: 150px;
  rotate: 180deg;
  position: relative;
}

.ScrollHint-Arrow:before,
.ScrollHint-Arrow:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: '';
}

.ScrollHint-Arrow:before {
  bottom: 0;
  width: 2px;
  height: 100%;
  animation: scroll1Anime 2s ease infinite;
  background-color: var(--black-color);
}

.ScrollHint-Arrow:after {
  top: 100%;

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;

  animation: scroll2Anime 2s ease infinite;
}

@keyframes scroll1Anime {
  0% {
    height: 0;
    opacity: 0;
  }
  20% {
    height: 0;
    opacity: 1;
  }
  80% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes scroll2Anime {
  0% {
    top: 100%;
    opacity: 0;
  }
  20% {
    top: 100%;
    opacity: 1;
  }
  80% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}

/* //e: section1_portfolio ani */

/* s: scroll-btn */
.section1 .inner .scroll-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fade-in-down {
  animation: fade-in-down 2s ease infinite;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* //e: scroll-btn */

/* //e: Home */

/* s: about */
.section2 .inner .dashboard {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.section2 .inner .dashboard .tiles {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 47.7rem;
  height: 77rem;
  /* aspect-ratio: 1/1.618; */
  display: grid;
  grid-template-rows: 473px 71px 45px 181px;
  grid-template-columns: 112px 72px 293px;
  background: #fff;
}
.section2 .inner .dashboard .tiles li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section2 .inner .dashboard .tiles li h3 {
  font-weight: 300;
  line-height: 120%;
  font: 2rem 'ivypresto-headline', sans-serif;
  text-transform: capitalize;
}

.section2 .inner .dashboard .tiles li:nth-child(1) {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  grid-column: 1/4;
  grid-row: 1/2;
}
.section2 .inner .dashboard .tiles li:nth-child(1) h3 {
  font-size: 4.2rem;
}

.section2 .inner .dashboard .tiles li:nth-child(2) {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  grid-column: 3/4;
  grid-row: 2/5;
}
.section2 .inner .dashboard .tiles li:nth-child(2) h3 {
  font-size: 3.2rem;
}

.section2 .inner .dashboard .tiles li:nth-child(3) {
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  grid-column: 1/3;
  grid-row: 4/5;
}
.section2 .inner .dashboard .tiles li:nth-child(3) h3 {
  font-size: 2.6rem;
}

.section2 .inner .dashboard .tiles li:nth-child(4) {
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  grid-column: 1/2;
  grid-row: 2/4;
}
.section2 .inner .dashboard .tiles li:nth-child(4) h3 {
  font-size: 2rem;
}

.section2 .inner .dashboard .tiles li:nth-child(5) {
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  grid-column: 2/3;
  grid-row: 2/3;
}
.section2 .inner .dashboard .tiles li:nth-child(5) h3 {
  font-size: 1.8rem;
}

.section2 .inner .dashboard .tiles li:nth-child(6) {
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  grid-column: 2/3;
  grid-row: 3/4;
}
.section2 .inner .dashboard .tiles li:nth-child(6) h3 {
  font-size: 1.6rem;
}
/* //e: about */

/* s: project */
.section3 .inner {
  position: relative;
}
.project-slider-wrap {
  background: #fff;
  position: absolute;
  bottom: 78px;
  /* left: 57.8488%; */
  right: 0;
  width: 72.6rem;
  height: 84.7rem;
  overflow: hidden;
}
.swiper-slide {
  width: 37.4rem;
}
.swiper-slide figure {
  width: 100%;
  height: 60.5rem;
  background: rgba(0, 0, 0, 0.2);
}
.swiper-slide .slide-info {
  margin: 2rem 0;
}
.swiper-slide .slide-info .project-title {
  margin: 0 3.5rem;
}
.swiper-slide .slide-info .category {
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 120%;
  padding: 1rem 2rem;
  text-transform: uppercase;
}
.swiper-slide .slide-info h4 {
  font-weight: 400;
  font-size: 4.3rem;
  line-height: 120%;
  text-transform: capitalize;
}
.swiper-slide .slide-info .date {
  font-weight: 400;
  font-size: 4.3rem;
  line-height: 120%;
  text-transform: capitalize;

  display: flex;
  align-items: center;
  gap: 26px;
}
.swiper-slide .slide-info .date::before {
  content: '';
  display: block;
  width: 42px;
  height: 2px;
  background: #000;
}
/* //e: project */

/* s: contact */
.section4 .inner {
  /* background: rgba(0, 0, 0, 0.5); */
  position: relative;
}
.section4 .inner .contact-wrap {
  background: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); /* 수평/수직 오프셋, 흐림 정도, 그림자 색상 */
  width: 60.5rem;
  height: 60.5rem;
  padding: 83.5px 57.5px;

  position: absolute;
  right: 12.1rem;
  bottom: 23.8rem;

  display: grid;
  grid-template-rows: 234px 120px 76px;
  grid-template-columns: 350px 140px;
}

.section4 .inner .contact-wrap .indent {
  padding-left: 2.4rem;
}
.section4 .inner .contact-wrap .sentance::before {
  content: '';
  display: block;
  width: 2.5rem;
  height: 2rem;
  background: url(../img/sentence-deco.svg) 0 0 no-repeat;
}
.section4 .inner .contact-wrap .sentance {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 120%;

  grid-row: 1/3;
  grid-column: 1/3;
}

.section4 .inner .contact-wrap .c-phone {
  grid-row: 2/3;
  grid-column: 1/2;
}
.section4 .inner .contact-wrap .c-name {
  grid-row: 2/3;
  grid-column: 2/2;
}
.section4 .inner .contact-wrap .c-email {
  grid-row: 3/3;
  grid-column: 1/2;
}
.section4 .inner .contact-wrap .c-SNS {
  grid-row: 3/3;
  grid-column: 2/2;
}
.section4 .inner .contact-wrap .c-SNS .link {
  display: flex;
  gap: 1rem;
}
.section4 .inner .contact-wrap .c-SNS .link a {
  width: 3.4rem;
  height: 3.4rem;
}
.section4 .inner .contact-wrap .c-SNS .link a:nth-child(1) {
  background: url(../img/logo-behance.svg);
}
.section4 .inner .contact-wrap .c-SNS .link a:nth-child(2) {
  background: url(../img/logo-linkedin.svg);
}

.section4 .inner .contact-wrap h4 {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 120%;
  margin-bottom: 2rem;
}
.section4 .inner .contact-wrap p {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 120%;
}

.btn-top {
  position: fixed;
  bottom: 126px;
  right: 100px;
  background: url(../img/top_btn.svg) 0 0 no-repeat;
  display: flex;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
/* //e: contact */
